<body style="background-color:#212121;"></body>
<body>
<h1 style="color:white;">🐳 AD Place</h1>
<p style="color:white;">If you mind to place your ad here, DM me in Discord or Email</p>
<p style="color:white;">Discord: applerobloxgames#4468</p>
<p style="color:white;">Email: susgalaxyofficial@gmail.com</p>
<p></p>
<p></p>
<p></p>
<p style="color:white;">If you want to support faucet/server, you can donate here</p>
<p style="color:white;">DUCO: applerobloxgames</p>
<p style="color:white;">or other crypto, please go to <a href="https://slxuniverse.com/donate" style="color: white;">https://slxuniverse.com/donate</a></p>
<p></p>
<p style="color:white;">When your cooldown passes you can look at this sus!!!</p>
<iframe data-aa='2301338' src='//ad.a-ads.com/2301338?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
<img src="https://amongusio.io//data/image/game/amongus_featureimage2.jpg">
<iframe data-aa='2301338' src='//ad.a-ads.com/2301338?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
</body>
