<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duino Coin (DUCO) Faucet - By SLX Universe</title>
    <style>
        body{
            background-color:#212121;
            color: #fff;
        }
        .loader {
            border: 8px solid #f3f3f3; /* Light grey */
            border-top: 8px solid #3498db; /* Blue */
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            animation: spin 1.5s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
    <script>
        function getDucos(){
            document.getElementById("getDucosButton").disabled = true;
            var ducoUsername = document.getElementById("ducoUsername").value;
            document.getElementById("spinner").innerHTML = '<div class="loader"></div>';
            var responseCode;

            fetch('/giveMeDucos?ducoUsername='+ducoUsername, {
                method: 'POST'
            })
            .then(function(response) {
                if((response.status == 500) || (response.status == 502)){
                alert("There was a server error, please try again");
                } else if(response.status == 409){
                    responseCode = response.status
                    // alert("You already claimed DUCO in this hour!");
                } else if(response.status == 200){
                    responseCode = response.status
                    console.log('😎');
                    return response.json()

                }

            }).then(function(object) {
                if(responseCode == 200){
                    document.getElementById("spinner").innerHTML = '<p>'+object.ducoSended+'ᕲ was sended to '+ducoUsername+'. Enjoy it!</p>';
                    console.log(object.duinoResponse);
                } else if(responseCode == 409) {
                    document.getElementById("spinner").innerHTML = "<p>Looks like you've already taken DUCO, try again in hour. During this time, you can look at this sus!!!</p><img src='https://amongusio.io//data/image/game/amongus_featureimage2.jpg'>";
                }
                document.getElementById("getDucosButton").disabled = false;


            })
        }

    </script>

</head>
<body>
    <h1>Duino Coin (DUCO) Faucet - By SLX Universe</h1>
    <h4>Estimated amount that gonna be sent to your account will be showed after giving your username</h4>
        <label for="firstname">Your Duino Coin wallet username:</label>
        <input type="text" id="ducoUsername" name="ducoUsername" placeholder="your duinocoin wallet username">
        <button type="button" id="getDucosButton" onclick="getDucos()">Get DUCO's</button>
        <div id="spinner"></div>
    <hr>
    <iframe data-aa='2301338' src='//ad.a-ads.com/2301338?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
    <iframe data-aa='2301338' src='//ad.a-ads.com/2301338?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
    <iframe data-aa='2301338' src='//ad.a-ads.com/2301338?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
    <iframe data-aa='2301338' src='//ad.a-ads.com/2301338?size=728x90' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
    <h1>🐳 AD Place</h1>
    <p>If you mind to place your ad here, DM me in Discord or Email</p>
    Discord: applerobloxgames#4468<br>
    Email: susgalaxyofficial@gmail.com<br>
    <p>If you want to support faucet/server, you can donate here.</p>
    Duino Coin (DUCO): applerobloxgames<br>
    or other crypto, please go to <a href="https://slxuniverse.com/donate" style="color: white;">https://slxuniverse.com/donate</a>
    </p>


</body>
</html>
